<main class="container container-fluid mt-5">
  <!-- Display the iframe widget on the homepage -->
  <iframe src="https://www.plantmaps.com/hardiness-zone-zipcode.php" name="Find the USDA Hardiness Zone for your Zipocde and Map it" width="210" scrolling="No" frameborder="0" marginheight="0" marginwidth="0">[Your browser doesn't support IFrames. <a href="//www.plantmaps.com/hardiness-zone-zipcode.php" target="_blank">Click here</a> to find the USDA hardiness zone for your zipcode.]</iframe>
<div class="zone-buttons">
  <a href="/forum/zone/1" class="zone-button">Zone 1</a>
  <a href="/forum/zone/2" class="zone-button">Zone 2</a>
  <a href="/forum/zone/3" class="zone-button">Zone 3</a>
  <a href="/forum/zone/4" class="zone-button">Zone 4</a>
  <a href="/forum/zone/5" class="zone-button">Zone 5</a>
  <a href="/forum/zone/6" class="zone-button">Zone 6</a>
  <a href="/forum/zone/7" class="zone-button">Zone 7</a>
  <a href="/forum/zone/8" class="zone-button">Zone 8</a>
  <a href="/forum/zone/9" class="zone-button">Zone 9</a>
  <a href="/forum/zone/10" class="zone-button">Zone 10</a>
  <a href="/forum/zone/11" class="zone-button">Zone 11</a>
  <a href="/forum/zone/12" class="zone-button">Zone 12</a>
  <a href="/forum/zone/13" class="zone-button">Zone 13</a>
  <!-- Add buttons for other zones -->
</div>
</main>




