  <main class="container container-fluid mt-5">
    <!-- Add your image here -->
    <img src="/path/to/your/image.jpg" alt="Plant Image" />

    <!-- Create a dropdown input for selecting a plant hardiness zone -->
    <div class="form-group">
      <label for="zone-select">Select Plant Hardiness Zone:</label>
      <select class="form-select" id="zone-select">
        {{#each zones}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>



