<h2 class="homepage-text">Enter your zipcode to find your plant hardiness zone. 
  Then click on a zone to join a conversation about growing in your area.
</h2>
<main class="container container-fluid mt-5">
  <!-- Display the iframe widget on the homepage -->
  <iframe src="https://www.plantmaps.com/hardiness-zone-zipcode.php" name="Find the USDA Hardiness Zone for your Zipocde and Map it" width="210" scrolling="No" frameborder="0" marginheight="0" marginwidth="0">[Your browser doesn't support IFrames. <a href="//www.plantmaps.com/hardiness-zone-zipcode.php" target="_blank">Click here</a> to find the USDA hardiness zone for your zipcode.]</iframe>

<div class="zone-buttons">
  <a href="/zone/1" class="zone-button zone-1">Zone 1</a>
  <a href="/zone/2" class="zone-button zone-2">Zone 2</a>
  <a href="/zone/3" class="zone-button zone-3">Zone 3</a>
  <a href="/zone/4" class="zone-button zone-4">Zone 4</a>
  <a href="/zone/5" class="zone-button zone-5">Zone 5</a>
  <a href="/zone/6" class="zone-button zone-6">Zone 6</a>
  <a href="/zone/7" class="zone-button zone-7">Zone 7</a>
  <a href="/zone/8" class="zone-button zone-8">Zone 8</a>
  <a href="/zone/9" class="zone-button zone-9">Zone 9</a>
  <a href="/zone/10" class="zone-button zone-10">Zone 10</a>
  <a href="/zone/11" class="zone-button zone-11">Zone 11</a>
  <a href="/zone/12" class="zone-button zone-12">Zone 12</a>
  <a href="/zone/13" class="zone-button zone-13">Zone 13</a>
</div>

<img src="/assets/map_plantzones.jpeg" alt="zone-map">
</main>




