<h1 class="zone-text">Zone 5</h1>
<p class="zone-text"> Plant hardiness Zone 5 includes the southern coastal region of Alaska, the North Central United States and portions of New England. With minimum average temperatures between -20 and -10 degrees F, this zone experiences a moderately cold winter. While the growing season is short, you can extend it by using cold frames or using started plants in your annual garden.</p>
{{#each posts}} 
<h2 class="zone-text">{{title}}</h2>
<p class="zone-text">{{content}}</p>
<p class="zone-text">{{author}}</p>
{{/each}}

