<h1 class="zone-text">Zone 3</h1>
<p class="zone-text"> Plant hardiness Zone 3 is found throughout Alaska, the northern portions of the United States and in high altitude areas. This zone features minimum average temperatures of -40 to -30 degrees F. Depending on the geographical location of your growing space, high winds, extreme cold and low moisture may affect growing conditions.</p>
{{#each posts}} 
<h2 class="zone-text">{{title}}</h2>
<p class="zone-text">{{content}}</p>
<p class="zone-text">{{author}}</p>
{{/each}}

