<h1 class="zone-text">Zone 2</h1>
<p class="zone-text"> Located in both Alaska and the continental United States, planting Zone 2 features extremely cold average minimum temperatures of between -50 to -40 degrees F. These temperatures can present a growing challenge to many gardeners. High winds and drought conditions are found in both the tundra and plains of Zone 2. Planting native plants, growing annuals and using creative planting techniques give gardeners a growing advantage.</p>
{{#each posts}} 
<h2 class="zone-text">{{title}}</h2>
<p class="zone-text">{{content}}</p>
<p class="zone-text">{{author}}</p>
{{/each}}

