<h1>Zone 4</h1>
<p> arid dry description of zone text here..</p>
{{#each posts}} 
<h2>{{title}}</h2>
<p>{{content}}</p>
<p>{{author}}</p>
{{/each}}

{{!-- show the json data that corresponds with the zone --}}
<pre>{{json posts}}</pre>