<h1 class="zone-text">Zone 8</h1>
<p class="zone-text"> Zone 8 is considered one of the warmest plant hardiness zones for a large portion of the southern United States. Extending up the western coast, Zone 8 features average minimum winter temperatures of 10 to 20 degrees F. With hot summers and mild winters, growers typically enjoy a long planting season.</p>
{{#each posts}} 
<h2 class="zone-text">{{title}}</h2>
<p class="zone-text">{{content}}</p>
<p class="zone-text">{{author}}</p>
{{/each}}

