<h1 class="zone-text">Zone 12</h1>
<p class="zone-text"> Planting Zones 12 and 13 are not found in the continental United States, but are located in both Hawaii and Puerto Rico. These two plant hardiness zones are extremely warm, tropical environments that are best suited for plants tolerant of intense heat. With the average minimum winter temperature between 50 and 70 degrees F, Zones 12 and 13, the warmest of all the USDA hardiness zones, feature tropical plants and exotic fruits.</p>
{{#each posts}} 
<h2 class="zone-text">{{title}}</h2>
<p class="zone-text">{{content}}</p>
<p class="zone-text">{{author}}</p>
{{/each}}

