:root {
    --primary: #3d5852;
    --secondary: #86938f;
    --tertiary: #5e877f;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: #104229; 
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--light);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  aside {
    flex: 0;
    background-color: var(--tertiary);
    padding: 80px;
    text-align: left;
    color: var(--light);
  }
  
  nav {
    display: flex;
    background-color: var(--secondary);
  }
  
  nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .login-text {
    color: #FFffff; 
}
.homepage-text {
  color: #a6ef6e; 
}
.zone-text {
  color: #a6ef6e;
}
  
  
  /* CARDS */
  .card {
    margin: 20px;
    flex: 0 1 300px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .login-card {
    margin: 0 0 20px 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: #577a7c;
    color: var(--light);
  }
  
  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  
  .gallery-name {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px var(--secondary);
    border: 10px groove var(--light);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    padding-left: 100px;
  }
  
  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }

  .zone-button {
    display: inline-block;
    width: 50px; /* Adjust the width and height to control the size of the square */
    height: 50px; /* Adjust the width and height as needed */
    margin: 5px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .zone-button.zone-1 {
    background-color: #B695C0;
}

.zone-button.zone-2 {
    background-color: #E090DF;
}

.zone-button.zone-3 {
    background-color: #A44CD3;
}

.zone-button.zone-4 {
    background-color: #8800C7;
}

.zone-button.zone-5 {
    background-color: #6495ed;
}

.zone-button.zone-6 {
    background-color: #028a0F;
}

.zone-button.zone-7 {
    background-color: #d1e231;
}

.zone-button.zone-8 {
    background-color: #fde5b4;
}

.zone-button.zone-9 {
    background-color: #ffcbc4;
}

.zone-button.zone-10 {
    background-color: #f09030;
}

.zone-button.zone-11 {
    background-color: #ff4500;
}

.zone-button.zone-12 {
    background-color: #960019;
}

.zone-button.zone-13 {
    background-color: #420D09;
}